@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-image: linear-gradient(rgb(59, 88, 93), rgb(29, 40, 42));
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em 0;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 1.5em;
  cursor: pointer;
}

.button-navigate {
  font-size: 3em;
  cursor: pointer;
}

.button-biggest {
  font-size: 4em;
  cursor: pointer;
}

#cover {
  width: 450px;
}

#title-player {
  text-align: center;
  padding-bottom: 0px;
}

#song-name {
  font-size: 1.5em;
  font-weight: bolder;
}

.light-color {
  color: rgb(139, 153, 156);
}

#progress-bar {
  background-color: rgb(139, 153, 156);
  height: 3px;
  width: 100%;
  border-radius: 15px;
}

#current-progress {
  --progress: 0%;
  height: inherit;
  background-color: #ffffff;
  width: var(--progress);
  border-radius: inherit;
}

#progress-container{
  padding-bottom: 1em;
  cursor: pointer;
}
